{% extends "base.html.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom de l'objet</th>
            <th scope="col">Recette</th>
        </tr>
        </thead>
        <tbody>
        {% for nbr, item in craftableItems %}
            <tr>
                <th scope="row">{{ nbr }}</th>
                <td class="bg-{{ item.rarity|replace({'é':'e'})|lower }}">{{ item.name }}</td>
                <td>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom de l'objet</th>
                            <th scope="col">Qty needed</th>
                            <th scope="col">Qty en stock</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set canDoThisItem = true %}
                        {% for nbr, ingredient in item.recipe.ingredients %}
                            {% set class = '' %}
                            {% if ingredient.item.qty is not defined or (ingredient.item.qty - ingredient.quantity) <= 0 %}
                                {% set canDoThisItem = false %}
                            {% endif %}

                            {% if ingredient.item.haveSome is defined and ingredient.item.haveSome %}
                                {% set class = 'table-primary' %}
                            {% endif %}

                            <tr class="{{ class }}">
                                <th scope="row">{{ nbr }}</th>
                                <td>{{ ingredient.item.name }}</td>
                                <td>{{ ingredient.quantity }}</td>
                                <td>{% if ingredient.item.qty is defined and ingredient.item.qty %}{{ ingredient.item.qty }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if canDoThisItem %}
                        <div class="p-3 mb-2 bg-success text-white">
                            Peut faire cette item
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
